

.search-section{
    text-align: center;
    background-color: rgb(168, 159, 159);
    line-height: 60px;
}

.search-section input{
    width: 75%;
    padding: 5px 0px;
}

.product-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product{
    border-right: 1px solid gray;
    margin-left: 10%;
    margin-right: 20px
}

.order-btn{
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}